body { background: var(--bg); overflow: hidden; }

.scene {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#selection {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 10%;
    z-index: 5;
    transition: .5s;
}

#selection.off {
    opacity: 0;
    pointer-events: none;
}

/* SELEÇÃO DO MUNDO */

.select-world {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 1px var(--shadow);
    cursor: pointer;
    transition: .5s;
}

.select-world:hover {
    transform: translateY(-2vh);
    box-shadow: 5px 10px 10px 1px var(--shadowFar);
}

.select-world:hover img:nth-child(2) { opacity: 1; }

.select-world:hover img:nth-child(1) { filter: grayscale(1); }

.select-world img {
    position: absolute;
    object-fit: cover;
    transition: .5s;
}

.select-world img:nth-child(1) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.select-world img:nth-child(2) {
    width: 75%;
    opacity: 0;
}
/* VIEW */

main {
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    padding: 10%;
    transition: .5s;
}

main.off {
    opacity: 0;
    pointer-events: none;
}

#swap {
    display: block;
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .5s;
    transition-timing-function: ease-in-out;
    z-index: 100;
}

#swap:hover {
    transform: rotate(720deg);
}

#content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    min-width: 35vw;
}

main.off #content * {
    transform: translateX(-50%);
    opacity: 0;
}

#content * {
    transform: translateX(0%);
    opacity: 1;
    transition: .5s;
}

#content img {
    width: 30vh;
    height: auto;
    object-fit: cover;
    transition-delay: 0s;
}

#content h2 {
    transition-delay: .25s;
    font-size: xx-large;
}

#content p {
    transition-delay: .5s;
}

main.off nav {
    opacity: 0;
    transform: translateX(5%);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    padding: 5% 2%;
    overflow-y: auto;
    opacity: 1;
    transform: translateX(0%);
    transition: .5s;
}

#cs-m {
    display: none;
}

.character-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 2.5vh;
    transform: translateX(0%);
    transition: .5s;
}

.character-selector:hover {
    transform: translateX(-10%);
}

.character-selector:hover span{
    opacity: 1;
}

.character-selector span {
    display: block;
    text-wrap: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

main.off .character-selector img {
    transform: rotate(520deg);
}

.character-selector img {
    display: inline;
    height: 5vh;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: .5s;
}

.character-selector img:hover {
    cursor: pointer;
}

#view-bg {
    position: absolute;
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    opacity: 0;
    z-index: -10;
}

#fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--fog);
    z-index: -9;
}